*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    /* background: linear-gradient(to left,#e66465, #9198e5); */
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:transparent;
    padding: 20px;
    width: 500px;
    height: max-content;
    border-radius: 10px ;
    border: solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}

.main .head-login .user{
    background-color: #006495;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username, .password {
    display: grid;
    grid-auto-flow: column;
    margin-top: 5px;
}

.main .icon{
    background-color: #006495;
    padding: 10px;
}

.username input{
    padding: 5px;
    width: 345px
}

.password {
    width: fit-content;
}

.password input, input[type="password"]{
    padding: 5px;
    width: 345px;
    
} 

.username input, .password input {
    border: #006495 solid 3px;
}
input[type="text"], input[type="password"]{
    outline: none;
}

.button {
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: none;
}

.button:hover {
    cursor: pointer;
    border: #006495 solid 2px;
}

#eye{
    color: #006495;
    right: 90px;
    bottom: 100px;
}

#eye:hover{
    cursor: pointer;
}
